<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lhz.esc.dao.ApplicationMapper" >
  <resultMap id="BaseResultMap" type="cn.lhz.esc.entity.Application" >
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="app_version" property="appVersion" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="app_path" property="appPath" jdbcType="VARCHAR" />
    <result column="app_port" property="appPort" jdbcType="VARCHAR" />
    <result column="app_alias" property="appAlias" jdbcType="VARCHAR" />
    <result column="app_url" property="appUrl" jdbcType="VARCHAR" />
    <result column="app_create_time" property="appCreateTime" jdbcType="VARCHAR" />
    <result column="isOffical" property="isoffical" jdbcType="VARCHAR" />
    <result column="esc_id" property="escId" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="addApp" parameterType="cn.lhz.esc.entity.Application">
<selectKey resultType="java.lang.String" keyColumn="appid" order="BEFORE">
  SELECT uuid()
</selectKey>
    insert into application (appid,app_version,app_name,app_path,app_port,app_alias,app_url,app_create_time,isOffical,esc_id)
    VALUES (#{appid},#{appVersion},#{appName},#{appPath},#{appPort},#{appAlias},#{appUrl},#{appCreateTime},#{isoffical},#{escId})
  </insert>

  <select id="selectAppByEscId" resultMap="BaseResultMap">
    select * from applicatin where esc_id=#{escId}
  </select>
</mapper>